/*three block table*/

.wrap.asg-content table#print-label-table tr td div{
width:382px;
}

.wrap.asg-content table#print-label-table tr + tr td div{
margin: 76px auto 76px auto!important;
}

.wrap.asg-content table#print-label-table td div h2{
text-transform: uppercase;
margin:0px;
padding:0px;
font-size:14px;
display: inline-block;
width:145px;
}

.wrap.asg-content table#print-label-table td div p{
font-size:14px;
}

.wrap.asg-content table#print-label-table td div h2:after{
content:none;
}
