.wrapper{
    width: 600px;
    height: 842px;
	margin:0 auto;
}

/*table, th, td {
    border: 1px solid black;
}*/

table{
padding: 76px 0px 76px 0px;
}

table:first-child{
padding: 152px 0px 76px 0px;
}

table td {
font-family:sans-serif;
font-size: 14px;
text-transform: capitalize;
line-height: 11px;
/*    border: 1px solid #333;*/
}

/*table td div{
width:180px;
}*/

table tr:nth-last-child(-n+3) td:first-child div{
word-wrap: break-word;
margin-left: 45px;
}

table tr:nth-child(2) td:first-child div{
   width: 205px;
}

table tr:nth-child(4) td:last-child div{
    margin-right: 48px;
}

table tr:nth-child(3) td:nth-last-child(-n+2) div, table tr:nth-child(4) td:nth-last-child(-n+2) div{
text-align: right;
}

/*table tr:nth-child(2) td:nth-child(2) div{
margin-left: -22px;
}*/

table tr:first-child td:nth-child(2) div{
/*margin-left: 22px;*/
text-align: center;
margin-bottom: 10px;
}

td{
	width:180px;
}

