
.asg-content .row{
margin-left:0px;
margin-right:0px;
}

.asg-content  #poststuff #post-body.columns-2{
margin-right:0px;
}

.asg-content h2.ui-sortable-handle{
background-color:#4d4645;
padding:12px 15px;  
border-bottom: none!important;
box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.2) inset;

  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;

  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}

.asg-content h2.ui-sortable-handle:after{
content:none!important;
}

.asg-content .postbox{
border:none;
}

.asg-content h2.ui-sortable-handle span{
    color: #baaeac;
    padding-left: 35px;
}

.asg-content h2.ui-sortable-handle span:before{
    font-family:'';
    font-family:'Glyphicons Halflings';
    content: "\e226";
    font-size:16px!important;
font-weight: 400!important;
vertical-align: bottom;
position: absolute;
    left: 20px;
}

.wrap.asg-content .page-title-action{
font-weight:500!important;
top:0;
}

   
.meta-box-sortables.ui-sortable>div .postbox a{
text-decoration:none!important;
font-size:14px;
}

.asg-content .meta-box-sortables.ui-sortable>div .toggle-indicator{
 color: #baaeac;
}

.asg-content .meta-box-sortables.ui-sortable>div .toggle-indicator:before {
    margin-top: 0px;
}

 .asg-content .meta-box-sortables.ui-sortable>div{
margin-left:10px;
display: inline-block;
float: none;
margin-right: -5px;
vertical-align: top;
}

.asg-content .meta-box-sortables.ui-sortable>div .inside{
text-align: center;
background-color: #605958;
padding: 20px!important;
margin-top: 0px!important;
margin-bottom: 0px!important;
}

.asg-content .meta-box-sortables.ui-sortable>div .inside img{
height: 110px;
width:150px;
}

.asg-content .meta-box-sortables.ui-sortable>div .postbox .handlediv{
margin-top:7px;
margin-right:5px;
}


/*table pages*/

.wrap #add_title{
margin-top: 10px;
margin-bottom: 10px;
display: inline-block;
width:auto;
}

.wrap.asg-content #add_title a{
padding: 11px 20px;
    background-color: #348AD4;
    color: #FFFFFF;
      display: block;
    top:0;
}

.wrap.asg-content .nav-tab-wrapper #add_title a{
    margin-left:0px;
}

.wrap.asg-content #add_chapter {
float:none;
display: inline-block;
}

.wrap.asg-content #add_chapter a{
padding: 11px 20px;
    background-color: #348AD4;
    color: #FFFFFF;
    display: block;
    top:0;
}

.wrap.asg-content input[type="button"]{
    padding: 11px 20px;
    background-color: #348AD4!important;
    color: #FFFFFF!important;
    top: 3px;
    font-size:13px;
    font-weight:500!important;
    line-height: 1;
    height: auto;
    border: none;
    font-weight: 600;
    border-radius: 2px;
    vertical-align: top;
}

#asg-limit-set input[type="text"]{
height:35px;
}

#asg-limit-set input[type="submit"]{
    padding: 10px 10px;
    background-color: #348AD4!important;
    color: #FFFFFF!important;
    top: 3px;
    line-height: 1;
    height: auto;
    border: none;
    font-weight: 600;
    border-radius: 2px;
}



.wrap.asg-content #add_pdf a{
padding:10px 10px;
background-color: #4d4645;
color: #FFFFFF;
top: 3px;
}


.wrap.asg-content #bulk-action .search-box{
margin-top: 20px;
margin-bottom: 30px;
float: none;
width: 940px;
max-width: 100%;
}

.wrap.asg-content select{
height: 35px;
/* width: 92px; */
margin-left: -3px;
padding-left:5px!important;
font-size:15px;
border-radius: 2px;
       outline: none;
    outline:none;
    outline-offset:0;
-webkit-box-shadow: none;
    box-shadow: none;
}

.wrap.asg-content select option{
background-color: #FFFFFF;
color:#32373c;
}

.wrap.asg-content input[type="search"]{
    height: 33px;
    width: 30%;
    margin-left: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}


#bulk-action{
margin-top:25px;
}

.wrap.asg-content #asg-limit>label{
color: #0073aa;
padding-right: 20px;
vertical-align: sub;
font-weight:500;
}

.wrap.asg-content .setting-table.form-table td input#limit{
    width: 128px;
    height: 38px;
    text-align: center;
}

.wrap.asg-content .setting-table.form-table td label{
width:100%;
text-align: left;
font-weight: 600;
}

.wrap.asg-content label{
text-align: left;
font-weight: 500;
font-size:14px;
}

.wrap.asg-content  h3{
    display: block;
    box-shadow: none;
    font-size: 23px;
    font-weight:400;
    margin: 25px 15px;
    text-transform: capitalize;
}

.wrap.asg-content  h3:after{
    content: '';
    height: 1px;
    /* position: absolute; */
    bottom: 0;
    display: block;
    width: 60px;
    background-color: #0073aa;
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 10px;
}

.wrap h2:first-child:after{
    content: '';
    height: 1px;
    /* position: absolute; */
    bottom: 0;
    display: block;
    width: 60px;
    background-color: #0073aa;
    /* margin: 0 auto; */
    /* text-align: center; */
    margin-top: 10px;
}

.wrap.asg-content .nav-tab{
    background: rgba(77, 70, 69, 0.8);
    color: #FFFFFF;
    border: none;
    font-weight:500;
    position: relative;
    text-decoration: none;
    /* padding: 5px 5px 5px 5px; */
    padding-right: 5px;
    padding-left: 20px;

            outline: none;
    outline:none;
    outline-offset:0;
-webkit-box-shadow: none;
    box-shadow: none;
        float: none;
    display: inline-block;
}

.wrap.asg-content .nav-tab:after{
    content: '';
    /* width: 0; */
    position: absolute;
    height: 34px;
    width: 50px;
    top: 0;
    right: -50px;
    /* height: 0; */
    border-bottom: 34px solid rgba(77, 70, 69, 0.8);
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    z-index: 999;
}

.wrap.asg-content .nav-tab-active:after, .wrap.asg-content .nav-tab-active:focus:after, .wrap.asg-content .nav-tab-active:focus:active:after, .wrap.asg-content .nav-tab-active:hover:after {
        border-bottom: 34px solid rgba(52, 138, 212, 0.8);
}

.wrap.asg-content .nav-tab:first-child {
    margin-left:0px;
}

.wrap.asg-content .nav-tab + .nav-tab{
    margin-left:25px;
}

.wrap.asg-content .nav-tab-active, .wrap.asg-content .nav-tab-active:focus, .wrap.asg-content .nav-tab-active:focus:active, .wrap.asg-content .nav-tab-active:hover {
    border:none;
    background: rgba(52, 138, 212, 0.8);
    color: #FFFFFF;

        outline: none;
    outline:none;
    outline-offset:0;
-webkit-box-shadow: none;
    box-shadow: none;
}

.wrap.asg-content #save-setting{
    padding: 10px 20px;
    height: auto;
    width: auto;
    line-height: 1;
}

.wrap.asg-content .setting-table.form-table button{
    padding: 6px 10px;
    background-color: #348AD4!important;
    color: #FFFFFF!important;
    line-height: 1;
    height: auto;
    font-weight: 600;
    border-radius: 2px;
}

.wrap.asg-content .setting-table.form-table input{
height:38px;
}

.wrap.asg-content input[type="text"]{
height:38px;
}

 .wrap.asg-content select{
   margin:1px; 
 }


#TB_ajaxContent label{
text-align: left;    
font-weight: 500;
text-transform: capitalize;
}

.thickbox-loading form{
margin-top:25px;
}

.search-box.asg-message select{
width:92px!important;
}

#TB_window form input{
height:35px;
}

#TB_window input{
height:35px!important;
}

#TB_window form select{
height:35px;
}

#TB_ajaxContent h2 {
    display: block;
    box-shadow: none;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}

#TB_ajaxContent>h2:first-child:after {
    content: '';
    height: 1px;
    /* position: absolute; */
    bottom: 0;
    display: block;
    width: 60px;
    background-color: #0073aa;
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 10px;
}

#TB_ajaxContent{
    width:100%!important;
    padding: 15px 15px 15px 15px!important;
}



#TB_window button, #TB_window html input[type=button], #TB_window input[type=reset], #TB_window input[type=submit]{
    color:#FFFFFF;
background: #1e5799;
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    border-color: #0073aa #006799 #006799;
}

#TB_title{
        border-bottom: 1px solid transparent;
}

#my-content-id h2{
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 15px 4px 0;
    line-height: 29px;
}

h2.nav-tab-wrapper:after{
content:none!important;
}

h2.nav-tab-wrapper{
padding: 9px 15px 0px 0!important;
}

.wrap.asg-content h2 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 15px 4px 0;
    line-height: 29px;
        margin-top: 15px;
    margin-bottom: 15px;
}

.wrap.asg-content h2:after {
    content: '';
    height: 1px;
    /* position: absolute; */
    bottom: 0;
    display: block;
    width: 60px;
    background-color: #0073aa;
    /* margin: 0 auto; */
    /* text-align: center; */
    margin-top: 10px;
}

#my-content-id h2:after {
    content: '';
    height: 1px;
    /* position: absolute; */
    bottom: 0;
    display: block;
    width: 60px;
    background-color: #0073aa;
    /* margin: 0 auto; */
    /* text-align: center; */
    margin-top: 10px;
}

#my-content-id label {
text-align: left;
    font-weight: 500;
    font-size:14px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    vertical-align: middle;
}

#my-content-id>form {
    margin-top: 25px;
}

#my-content-id input, #my-content-id select {
   height:38px;
}

.wrap.asg-content input[type="submit"], .wrap.asg-content .button-primary{
    padding: 10px 10px!important;
    line-height: 1!important;
    height: auto!important;
    margin-top:15px;
}

.wrap.asg-content legend{
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 600;
}

.wrap.asg-content .row{
box-shadow: none;
border-radius: 2px;
}


.wrap.asg-content fieldset.row {
padding:15px 15px;
border-color:#dddddd;
}

.wrap.asg-content fieldset.row .block{
margin-bottom:15px;
}

.wrap.asg-content fieldset.row textarea{
    width:100%;
}

.wrap.asg-content .asg-membership-enable{
    width: 90px;
    border: none;
    color: #FFFFFF;
    margin-left: 10px;
    height: 34px;
        font-weight: 600;
    font-size: 13px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}


.wrap.asg-content   .button-primary{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

/*bulk actions*/

.bulkactions{
margin-top:10px;
margin-bottom:10px;
float:none;
display: inline-block;
}

/*report tabs*/

.wrap.asg-content #tabs  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    color:#FFFFFF;
    background: #4D4645;
    background: -moz-linear-gradient(top, #4D4645 0%,#424548 50%,#393D40 51%,#595E63 100%);
    background: -webkit-linear-gradient(top, #4D4645 0%,#424548 50%,#393D40 51%,#595E63 100%);
    background: linear-gradient(to bottom, #4D4645 0%,#424548 50%,#393D40 51%,#595E63 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4645', endColorstr='#595E63',GradientType=0 );
}

.wrap.asg-content #tabs .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    color:#FFFFFF;
      background: #1e5799;
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
}


.wrap.asg-content #tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
 color:#FFFFFF;
font-size: 15px;
}

.wrap.asg-content #tabs .ui-widget-header {
    border: none;
    border-bottom: 1px solid #0073aa;
    border-radius: 0px!important;
    background: #FFFFFF!important;
}

.wrap.asg-content #asg-download-opt{
  margin-top:10px;
  margin-bottom: 10px;  
}


.wrap.asg-content #asg-download-opt a{
    color: #0073aa;
    font-size: 24px;
    margin-right:5px;
    text-decoration: none;
}

.wrap.asg-content #asg-download-opt a + a{
margin-left:5px;
margin-right:0px;
}

/*member information form*/

.wrap.asg-content #asg-country,.wrap.asg-content #asg-state,.wrap.asg-content #asg-city{
display: inline-block;
max-width:57%;
}

.wrap.asg-content #asg-country select, .wrap.asg-content #asg-state select, .wrap.asg-content #asg-city select{
max-width:100%;
}

.wrap.asg-content .no-result{
    background-color: #DC7676;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
    padding: 5px 10px;
        width: 600px;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 14px;
    font-weight:500;
    text-align: center;
    /* margin: 0 auto; */
    margin-right: auto;
    margin-left: auto;
}




@media screen and (min-width:768px){

.asg-content .postbox {
    width: 255px;
    margin: 0 auto;
    margin-top: 60px;
}

}

@media screen and (max-width:1200px){
.wrap.asg-content .block label{
width:100%;
}

}

@media screen and (max-width:960px){
.wrap.asg-content .block label{
text-align: center;
margin-bottom:10px;
width:100%;
}

}



