@import url('reset.css');
.padding_top {padding-top:18px;}
.block {width:100%; display: block;}
.center {text-align: center;}


#wrapper {
	max-width: 1024px;
	margin: 0 auto;

}
legend {
	background: #fff; 
	display: inline-block; 
	margin-left: 20px;
	margin-top:4px; 
	padding:0 2px;}
.row {
	border: 1px solid #000; 
	box-shadow: 2px 2px 0px #000;
	margin-top:-4px;
	padding:15px 0;}
h3 {
	
	font-size: 112%;
	text-align: center!important;
	padding:5px 0;
	border:1px solid;
	box-shadow: 2px 2px 0px #000;
	padding: 8px 15px 5px 15px;
	display: inline-block;
}
.border-none {
	border:none!important; 
	box-shadow: none!important; 
}

input{
	font-size: 93.75%;
	
}
.box {
	width: 33%;
	padding:1px 0;
	float: left;
}
label {
	width: 38%;
	font-size: 87.5%; 
	line-height: 112.5%;
	display: inline-block;
	text-align: right;
	/*text-transform: uppercase;*/
}
input {
	margin:1px 0;
}
.left { 
	padding-left:5px;
	text-align: left; 
	font-size: 75%; 
	text-transform: none;
}
.zip {
	width:11.4%;
	text-align: right;
}
.zip-input { 
	width:21.2%;
}
select {
	padding:2.5px 0!important; 
	margin:1px 0;
}

.short {
	width:23%
}
.ext {
	
	width:9%;
}
.ext-input {
	width:17.5%;
}
.email {
	width: 16.2%; }
.email-input {
	width:75.5%;
}
#chapter,#title_1,#title_2,#title_3,#source {
	width:55.5%;
}
#transfer_date {
	width:43.4%;
}
#transform_date {
	width:45%;
}


@media screen and (max-width:959px) {
	.box {
		float: none;
	}
	label {
		display: inline-block;
	}
	.block {
		width:100%!important; 
		display: inline-block;
	}
	.box {
		width:100%; 
		text-align: center;
	}
	#join_date,#paid_date,#transfer_date,#transform_date {
		width: auto!important;
	}
	.email {
		width: 35%;
	}
	.email-input {
		width: 54%
	}

	
}

.alert-danger {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 3px 5px !important;
    margin-bottom: 10px;
    font-size: 12px;
    border: none;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
p {
    margin: 0 0 10px;
}

* {
    font-family: 'Raleway', sans-serif;
}