/*table, th, td {
    border: 1px solid black;
}*/

#asg-card-report table{
padding: 76px 0px 76px 0px;
}

#asg-card-report table:first-child{
padding: 152px 0px 76px 0px;
}

#asg-card-report table td {
font-family:sans-serif;
font-size: 14px;
text-transform: capitalize;
line-height: 14px;
/*    border: 1px solid #333;*/
}

/*table td div{
width:180px;
}*/

#asg-card-report table tr:nth-last-child(-n+3) td:first-child div{
word-wrap: break-word;
margin-left: 45px;
}

#asg-card-report table tr:nth-child(2) td:first-child div{
   width: 205px;
}

#asg-card-report table tr:nth-child(4) td:last-child div{
    margin-right: 48px;
}

#asg-card-report table tr:nth-child(3) td:nth-last-child(-n+2) div,#asg-card-report  table tr:nth-child(4) td:nth-last-child(-n+2) div{
text-align: right;
}

/*table tr:nth-child(2) td:nth-child(2) div{
margin-left: -22px;
}*/

#asg-card-report table tr:first-child td:nth-child(2) div{
/*margin-left: 22px;*/
text-align: center;
margin-bottom: 10px;
}

#asg-card-report td{
	width:180px;
}